fastavro==1.4.9
inflect==5.3.0
pytz
faust==1.9.0
dacite>=1.6.0
faker>=8.1.1
stringcase>=1.2.0

# Code quality
# ------------------------------------------------------------------------------
black
flake8
mypy
isort

# Testing
# ------------------------------------------------------------------------------
pytest>=5.4.3

# Docs
# ------------------------------------------------------------------------------
mkdocs
mkdocs-material

# Coverage
#-------------------------------------------------------------------------------
codecov
pytest-cov

# Publish
#-------------------------------------------------------------------------------
twine
