fastavro
inflect
faust==1.9.0

# Code quality
# ------------------------------------------------------------------------------
black
flake8
mypy
isort

# Testing
# ------------------------------------------------------------------------------
pytest
faker

# Docs
# ------------------------------------------------------------------------------
mkdocs
mkdocs-material

# Coverage
#-------------------------------------------------------------------------------
codecov
pytest-cov
