fastavro
inflect
pytz
faust==1.9.0
dacite
faker

# Code quality
# ------------------------------------------------------------------------------
black
flake8
mypy
isort

# Testing
# ------------------------------------------------------------------------------
pytest>=5.4.3
faker

# Docs
# ------------------------------------------------------------------------------
mkdocs
mkdocs-material

# Coverage
#-------------------------------------------------------------------------------
codecov
pytest-cov
